%html
  %head
    %title Juego de Piedra Papel Tijera
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    
  %body
    %center
      %h1 Comienza el Juego
      %br
      %h2 ¡Intente ganar a la máquina!
      %br
      %br
      %h2= answer
      %a{:href => '?choice=Piedra'} Piedra
      %a{:href => '?choice=Papel'} Papel
      %a{:href => '?choice=Tijera'} Tijera
    %br
    %br
    %br
    %br
    %br
    %br
    %p#copyright © Sergio Afonso García - Sistemas y Tecnologías Web 2013-14 - Práctica 3
    